In [1]:
#1
from wsgiref.simple_server import sys_version


x = "Twinkle , twinkle , little star , \n      How i wonder what you are ! \n               Up above the world ,\n               Like a diamond in the sky.twinkle ,\nTwinkle ,little star ,\n      How i wonder what you are "
print(x)

Twinkle , twinkle , little star ,
      How i wonder what you are !
               Up above the world ,
               Like a diamond in the sky.twinkle ,
Twinkle ,little star ,
      How i wonder what you are

In [2]:
#2
print(sys_version)

CPython/3.9.7

In [3]:
#3
import datetime

t = datetime.datetime.now()
v = "Current date and time:" 
print(v,"\n",t)

Current date and time:
 2022-08-25 13:12:00.107857

In [5]:
#4
import math
radius = float(input("what is the radius of your circle "))
area_of_the_circle = math.pi*radius*radius
print("area of the circle is : " ,round(area_of_the_circle, 3))

what is the radius of your circle 78
area of the circle is :  19113.45

In [55]:
#5
Firstname = input("What is your first name: ")
Lastname = input("What is your last name: ")
print(Lastname [::-1] , Firstname[::-1])

What is your first name: YTREWQ
What is your last name: FDSA
ASDF QWERTY

In [56]:
#7
color_list = ["Red","Green","White" ,"Black"] 
print(color_list[0] , color_list[3])

Red Black

In [4]:
'''color_list = ["Red","Green","White" ,"Black"] 
r = color_list[0]
b = color_list[3]
print(r,b)'''

'color_list = ["Red","Green","White" ,"Black"] \nr = color_list[0]\nb = color_list[3]\nprint(r,b)'

In [6]:
#6
t = input("input your comma seprated numbers  ")
print(list(t))

input your comma seprated numbers  12
['1', '2']

In [13]:
#8
from datetime import date

exam_st_date = (11, 12, 2014) 
new_date = date(2014, 11, 12,)
print(new_date)

2014-11-12

In [14]:
#9
integer = int(input ("What is an integer"))
print(integer+integer*integer+integer*integer*integer)

What is an integer78
480714

In [ ]:
#12
radius2 = float(input("what is the radius of a sphere"))
r = 1*math.pi*radius2*radius2
print(r)

In [17]:
help(round) #research latex notation

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [18]:
#13
cv = int(input ("what is your number "))
CV = cv-17
print(CV)
if CV>17:
    print(abs(CV) *2)

what is your number 45
28
56

In [70]:
#14
x = range(100,1000,1)
u = range(100,2000,1)
p = 1001
if p in x :
    print("true but in the 1000 range")
elif p in u:
    print("true but in the 2000 range")
else :   
    print(p, "is not within either range")

true but in the 2000 range

In [77]:
#15
firstnumber = int(input("Enter your first number  : "))
secondnumber = int(input("Enter your second number : "))
thierdnumber = int(input("Enter your third number : "))

sumofthenumber = firstnumber+secondnumber+thierdnumber
real = 3*sumofthenumber
if firstnumber==secondnumber==thierdnumber:
    print("The number is equal so thrice the sum of the number is: ",3*sumofthenumber)
else:
    print('the question is somehow')

Enter your first number  : 1
Enter your second number : 1
Enter your third number : 1
The number is equal so thrice the sum of the number is:  9

In [21]:
#16
myvalues = ["temilade","ayomide","teee"]
if "temilade" in myvalues:
   print("yes it is present")

yes it is present

In [81]:
#17
rnager = range(1,237,1)

even_nos = [num for num in rnager if num % 2 == 0]
print("Even numbers : ", even_nos)

Even numbers :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236]

In [23]:
#18
colorlist1 = {"cyano","pink","violet","orange","indigo","blue","red",}
colorlist2 = {"blue","orange","brown","indigo","mango"}    
color = colorlist1.difference(colorlist2)
    
print(color)

{'violet', 'red', 'pink', 'cyano'}

In [24]:
#19
import platform
platform.system()

'Windows'

In [ ]:
#20
def sum_of_list(l):
  total = 0
  for val in l:
    total = total + val
  return total

my_list = [1,3,5,2,4]
print ("The sum of my_list is", sum_of_list(my_list))

In [ ]:
#21
def sum_of_list(l):
  total = 1
  for val in l:
    total = total * val
  return total

my_list = [1,3,5,2,4]
print ("The sum of my_list is", sum_of_list(my_list))
print(max(my_list))
print(min(my_list))

In [84]:
#22
my_list = [1,3,5,2,4]
print(max(my_list))

5

In [83]:
#23
my_list = [1,3,5,2,4]
print(min(my_list))

1

In [26]:
CHECK#25
newlist = list(input("what is your new list"))
for x in newlist:
    newlist.sort()
    print(tuple(x))

what is your new listtemilade
('t',)
('d',)
('e',)
('e',)
('i',)
('l',)
('m',)
('t',)

In [91]:
#26
anotherlistweremo = ["abc", 34, True, 40, "male",40]
def Remove(anotherlistweremo):
    final_list = []
    for num in anotherlistweremo:
        if num not in final_list:
            final_list.append(num)
    return final_list

print(Remove(anotherlistweremo))

['abc', 34, True, 40, 'male']

In [31]:
#27
anotherlistweremo = ["abc", 34, True, 40, "male"] 
def check_empty(anotherlistweremo):
    if len(anotherlistweremo)==0:
        print("list is empty")
    else:
        print("list is not empty")
        
check_empty(anotherlistweremo)

list is not empty

In [11]:
#28
xu = [1,4,3,12,22334,78,12,56]
newevenno = [number for number in xu if number % 2 == 0]
print(len(newevenno))

6

In [11]:
#29
import math
KEY1 = int(input("what is your key one"))
key2 = int(input("what is your key two"))
key3 = int(input("what is your key three"))
value1 = KEY1*KEY1
value2 = key2*key2
value3 = key3*key3
newdict = {
    KEY1 : value1,
    key2 : value2,
    key3 : value3,
}

print(newdict)

what is your key one12
what is your key two13
what is your key three14
{12: 144, 13: 169, 14: 196}

In [17]:
#30
mytuple = ("temilade","elisha","teebenz","ayomide")
(firstname,secondname,thirdname,middlename) = mytuple

print(firstname)
print(secondname)
print(thirdname)
print(middlename)

temilade
elisha
teebenz
ayomide

In [22]:
#31
thetupleiwannaadd = ( "temilade ","ayomi","jide","jones")
newthetupleiwannaadd = ("elisha","iseoluw") 
addedtuple = thetupleiwannaadd + newthetupleiwannaadd
print(addedtuple)

('temilade ', 'ayomi', 'jide', 'jones', 'elisha', 'iseoluw')

In [93]:
#32
mytuple = ("temilade","elisha","teebenz","ayomide")
print(mytuple[-2:-1])
#a tuple is unchangeable ie it cannot be remove

('teebenz',)

In [23]:
#33
slicedtuple = ("apple", "banana", "cherry")
slice1 = slicedtuple[1:]
print(slice1)

('banana', 'cherry')

In [24]:
#check34

unziptuple = ("apple", "banana", "cherry")
for x in unziptuple:
    print(list(unziptuple))

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [28]:
#35
avetuple = (4,5,6,4,7,8,3,8,8,4)
def Average(avetuple):
    return sum(avetuple) / len(avetuple)

avetuple = (4,5,6,4,7,8,3,8,8,4)
average = Average(avetuple)


print("Average of the list =", round(average, 2))

Average of the list = 5.7

In [35]:
#37
theword = input("tell me your word: ")
revesrsed_word = theword[::-1]
print("The rversed form of your word is : ",revesrsed_word)

tell me your word: try
yrt

In [34]:
#check39
newsetnumber = [4,5,6,3,7]
print(max(newsetnumber))
print(min(newsetnumber))

7
3

In [11]:
#40
thestring = input("what is your string  :  ")
uppercase = thestring.upper()
print(uppercase)
lowercase = thestring.lower()
print(lowercase)

what is your string  :  sderrer
SDERRER
sderrer

In [37]:
#41
thenumber = int(input("what is the number you want us to check for "))
count=0
for i in range (2,(thenumber//2+1)):
    if(thenumber % i ==0):
        count=count + 1
        break
        
if (count==0 and thenumber !=1):
    print( thenumber , "is a prime")
else:
    print(thenumber , "is not")

what is the number you want us to check for 39
39 is not

In [90]:
for i in range(2,6):
    print(i)

2
3
4
5

In [19]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [106]:

here_document = "a string that you \"don't\" have to escape\nThis \nis a......multi-line\nheredoc string ------> example"
print(here_document)

a string that you "don't" have to escape
This
is a......multi-line
heredoc string ------> example

In [1]:
#19
import platform
platform.system()

'Windows'

In [10]:

#you_rad = float(input("Enter your radius"))
#volume = 4/3 *3.14*you_rad*you_rad
#print(volume)

Enter your radius12
602.8799999999999

In [14]:
#45
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
even_NO = [number for number in original_list if number % 2 == 0]
print(even_NO)
odd_no = [temi for temi in original_list if temi % 2!=0]
print(odd_no)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [98]:
#46
normal_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
square_nums = list(map(lambda x: x ** 2, normal_list))
print(square_nums)
cube_nums = list(map(lambda x: x ** 3, normal_list))
(cube_nums)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [25]:
#47
import datetime
now = datetime.datetime.now()
print(now)
year = lambda x: x.year
month = lambda x: x.month
day = lambda x: x.day
time = lambda x: x.time
print(year(now))
print(month(now))
print(day(now))
print(time(now))

2022-08-28 13:26:53.178066
2022
8
28
<built-in method time of datetime.datetime object at 0x000001387E9D3180>

In [39]:
#44
import random
t = input('what is your argument value  :  ')
x = random.randrange(1,300)
def my_new_function(t):
    return x*t
my_new_function(1)

what is your argument value  :  12

86

In [45]:
#41
n = int(input("Enter any number: "))
sum1 = 0
for i in range(1, n):
    if(n % i == 0):
        sum1 = sum1 + i
if (sum1 == n):
    print("The number is a Perfect number")
else:
    print("The number is not a Perfect number ")

Enter any number: 9
The number is not a Perfect number

In [53]:

t = range(90)
count = 1
for i in t:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89